In [1]:

import pandas as pd
import numpy as np

print("üìä Starting Data Exploration...")
print("=" * 50)

df = pd.read_csv('top_100_disaster_data.csv')

print(f"‚úÖ Dataset loaded successfully!")
print(f"Dataset shape: {df.shape[0]} rows √ó {df.shape[1]} columns")
print("\n" + "=" * 50)

print("üîç TECHNICAL SUMMARY (Column types & non-null counts):")
print("-" * 50)
df.info()

print("\n" + "=" * 50)

print("üìà STATISTICAL SUMMARY (Numerical columns):")
print("-" * 50)
display(df.describe())

print("\n" + "=" * 50)

print("‚ùì MISSING DATA ANALYSIS:")
print("-" * 50)
missing_values = df.isnull().sum()
print(missing_values)

total_missing = missing_values.sum()
if total_missing == 0:
    print("\n‚úÖ Excellent! No missing data found in the dataset.")
else:
    print(f"\n‚ö†Ô∏è  Total missing values: {total_missing}")
    print("Columns with missing data:")
    print(missing_values[missing_values > 0])

print("\n" + "=" * 50)
print("üéØ Data exploration complete! Ready for analysis.")

üìä Starting Data Exploration...
==================================================
‚úÖ Dataset loaded successfully!
Dataset shape: 100 rows √ó 5 columns

==================================================
üîç TECHNICAL SUMMARY (Column types & non-null counts):
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   disaster.event  100 non-null    object
 1   user.anon       100 non-null    int64
 2   latitude        100 non-null    float64
 3   longitude.anon  100 non-null    float64
 4   time            100 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 4.0+ KB

==================================================
üìà STATISTICAL SUMMARY (Numerical columns):
--------------------------------------------------

       user.anon    latitude  longitude.anon
count      100.0  100.000000      100.000000
mean         0.0  139.674985       24.554475
std          0.0    0.078679        0.074668
min          0.0  139.492436       24.398448
25%          0.0  139.590027       24.494405
50%          0.0  139.697809       24.573259
75%          0.0  139.729721       24.615740
max          0.0  139.795848       24.675147

==================================================
‚ùì MISSING DATA ANALYSIS:
--------------------------------------------------
disaster.event    0
user.anon         0
latitude          0
longitude.anon    0
time              0
dtype: int64

‚úÖ Excellent! No missing data found in the dataset.

==================================================
üéØ Data exploration complete! Ready for analysis.